# Node.js dependencies
node_modules/
yarn.lock
package-lock.json

# Archivos de sesión, base de datos y config local
Sessions/
database.json
JadiBots

# Logs
*.log

# Carpetas de caché
.cache/
dist/
src/database/userClaimConfig.json
